<div align="center">
  <mat-card class="info-card">
    <div class="container" align="left">
      <div class="row">
        <div class="col-sm">
          <p>Java <ngb-progressbar showValue="true" type="info" [value]="70" [animated]="true" [striped]="true"></ngb-progressbar></p>
        </div>
        <div class="col-sm">
          <p>Python<ngb-progressbar showValue="true" type="info" [value]="80" [animated]="true" [striped]="true"></ngb-progressbar></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <p>Web Development<ngb-progressbar showValue="true" type="info" [value]="80" [animated]="true" [striped]="true"></ngb-progressbar></p>
        </div>
        <div class="col-sm">
          <p>Networking (Routing & Switching)<ngb-progressbar showValue="true" type="info" [value]="65" [animated]="true" [striped]="true"></ngb-progressbar></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <p>Cyber Security<ngb-progressbar showValue="true" type="info" [value]="65" [animated]="true" [striped]="true"></ngb-progressbar></p>
        </div>
        <div class="col-sm">
          <p>Music Production<ngb-progressbar showValue="true" type="info" [value]="70" [animated]="true" [striped]="true"></ngb-progressbar></p>
        </div>
      </div>
    </div>
  </mat-card>
</div>
<!--<div align="center">-->
    <!--<table mat-table [dataSource]="skills" class="mat-elevation-z8">-->
      <!--<ng-container matColumnDef="skill">-->
        <!--<td mat-cell *matCellDef="let skill" class="skill-cell"> {{skill.skill}} </td>-->
      <!--</ng-container>-->
      <!--<ng-container matColumnDef="ability" >-->
        <!--<td mat-cell *matCellDef="let skill">-->
          <!--<div>-->
           <!--<span class="ability-chart">-->

             <!--<mat-progress-bar mode="determinate" value="{{skill.ability}}" color="accent" ng-show="progressBarEdit" ></mat-progress-bar>-->
           <!--</span>-->
            <!--<span class="ability-value"> {{skill.ability}}%</span>-->
          <!--</div>-->
        <!--</td>-->
      <!--</ng-container>-->
      <!--<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
    <!--</table>-->
<!--</div>-->

