<div align="center">
  <mat-card class="info-card">
    <div class="container" align="left">
      <div class="row">
        <div class="col-sm">
          <p>Java <ngb-progressbar showValue="true" type="info" [value]="70" [animated]="true" [striped]="true"></ngb-progressbar></p>
        </div>
        <div class="col-sm">
          <p>Python<ngb-progressbar showValue="true" type="info" [value]="80" [animated]="true" [striped]="true"></ngb-progressbar></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <p>Web Development<ngb-progressbar showValue="true" type="info" [value]="80" [animated]="true" [striped]="true"></ngb-progressbar></p>
        </div>
        <div class="col-sm">
          <p>Networking (Routing & Switching)<ngb-progressbar showValue="true" type="info" [value]="65" [animated]="true" [striped]="true"></ngb-progressbar></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <p>Cyber Security<ngb-progressbar showValue="true" type="info" [value]="65" [animated]="true" [striped]="true"></ngb-progressbar></p>
        </div>
        <div class="col-sm">
          <p>Music Production<ngb-progressbar showValue="true" type="info" [value]="70" [animated]="true" [striped]="true"></ngb-progressbar></p>
        </div>
      </div>

      <div class="row">

        <div class="col-sm">
          <div class="logos">
            <a href="https://www.youracclaim.com/badges/0ad1d821-6797-40ea-bb31-71129177b355/linked_in_profile">
              <img src="/assets/ccna_routerswitching_med.jpg" alt="" style="width:150px;height:150px;border:0;">
            </a>
          </div>
        </div>
        <div class="col-sm">
          <div class="logos">
            <a href="https://www.certmetrics.com/comptia/public/verification.aspx?code=145PWSWF2CFQSCR2">
              <img src="/assets/security_plus.png" alt="" style="height:150px;border:0;">
            </a>
          </div>


        </div>

      </div>

    </div>
  </mat-card>
</div>


