/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "app-theme";


@include mat-core()
$md-christheme: (
  50 : #e8f2f6,
  100 : #c5e0e9,
  200 : #9fcbda,
  300 : #79b6cb,
  400 : #5ca6c0,
  500 : #3f96b5,
  600 : #398eae,
  700 : #3183a5,
  800 : #29799d,
  900 : #1b688d,
  A100 : #c6ebff,
  A200 : #93d9ff,
  A400 : #60c7ff,
  A700 : #47beff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);



body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.flex-spacer{

}

.info-box{
  padding-top: 4rem;
}

.info-section{
  padding-top: 5vh;
  padding-bottom: 5vh;
}

$primary: mat-palette($md-christheme);

$accent:  mat-palette($md-christheme, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include resume-app-theme($theme);
