
<div class="info-section" id="about" align="center">

  <div class="bio-card">
    <mat-card class="mat-elevation-z24" align="center" >
      <h2>Christopher Kim</h2>

      <p align="left">
        Christopher Kim is an extremely motivated young professional who exhibits a strong desire to learn with a firm belief in results.
        He meshes well in team-based environments and understands the importance of bringing a positive attitude to the workplace.
        He is incredibly ambitious and goal-oriented, embracing opportunities to gain new skills, build genuine relationships, and grow as an IT professional.
      </p>
    </mat-card>
  </div>

</div>

