<div class="blog-card alt">
  <div class="meta">
    <div class="photo"></div>
    <ul class="details">
      <li class="author"><a pageScroll href="#about">About Chris</a></li>
       <div>
        <li>Phone: (703) 870 - 5495</li>
        <li>Email: chrisk0208@gmail.com</li>

      </div>
    </ul>
  </div>
  <div class="description" align="left">
    <h1>Christopher Kim</h1>
    <div class="job-description">
      <h2>Programmer & IT Professional</h2>
    </div>

    <p>Christopher Kim is a Programmer and a certified IT Professional.</p>
    <p class="read-more">
      <a href="https://drive.google.com/file/d/1Zx2FgFf-y-hs4bXsyoHAPoXCuKatsRAG/view?usp=sharing">
        <button mat-stroked-button>Download Resume</button>
      </a>
    </p>
  </div>
</div>

<div class="social-media-row" align="center">

  <a class="link-buttons" href="https://github.com/c4r1sk1m"> <button mat-button><i class="fa fa-github"></i> </button></a>
  <a class="link-buttons" href="https://www.linkedin.com/in/chris-kim-2018" ><button mat-button><i class="fa fa-linkedin"></i> </button></a>
  <a class="link-buttons" href="https://www.instagram.com/c_k296/"  ><button mat-button><i class="fa fa-instagram"></i> </button></a>
  <a class="link-buttons" href="https://soundcloud.com/chris-kim-dj"><button mat-button><i class="fa fa-soundcloud"></i> </button></a>

</div>
